/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    font-family: Arial;
    font-weight: 600;
}
button{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
} */